html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
        .container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0px 180px 0px;
  color: white;
  text-align: center; 
}

.top-wrapper video {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}



.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.6;
  border-radius: 100px;
}

.btn:hover {
  opacity: 1;
}

.masuk {
  background-color: #239b76;
}


.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}


.fa {
  margin-right:5px;
}

.right-col{
  float: right;
  margin-right: 6%;
  margin-top: 120px;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
}

#playPauseLogo {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px; /* Adjust the size of the logo as needed */
  height: auto;
  cursor: pointer;
  z-index: 9999; /* Ensure it's above other elements */
  opacity: 0.3; /* Adjust the opacity value as needed */
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position:absolute
  
}

.logo {
  width: 124px;
  margin-top: 20px;
}
.header-left {
  float:left;
  
 
}
.header-right {
  float:right;
  background-color:rgba(255, 255, 255, 0.3);
}

.header-right:hover {
  background-color:rgba(255, 255, 255, 0.5);
}
.header-right a {
  line-height:65px;
  padding-left:25px;
  padding-right:25px;
  color:white;
  display:cover;
}
