* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/bg1.jpg');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.nav-bar {
    background-color: #0000001e;
    overflow: hidden;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar h1 {
    margin: 0;
    font-size: 24px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.nav-bar a:hover {
    background-color: #555;
}

#contact {
    padding: 40px 0;
    text-align: center;
}

.section-header {
    margin-bottom: 40px;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
}

.section-description {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
}

.info-box {
    background-color: rgba(50, 47, 47, 0.634);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.info-box p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}